.Popup {
    width: 80%;
    max-height: 90%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    background: #fbfbf9;
    border: 1px solid #ddd;
    font-family: 'Roboto'
}

.button {
    text-align: right;
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
}

.title {
    margin: 0;
    margin-bottom: 0.6em;
}

.subtitle {
    margin-bottom: -9px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    flex-direction: row;
    justify-content: left;
}

.img {
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
    max-width: 100%;
}

.ratingDetails {
    line-height: 1.4em;
    width: 50%;
    max-width: 100%;
    margin: 0;
    padding-left: 1em;
}

.stars {
    color: #ff7800;
}

.ratingValue {
    position: relative;
    bottom: 5px;
    padding: 0 0.5em;
}

.address {
    width: 100%;
    max-width: 100%;
    font-weight: 500;
    margin-bottom: 0;
}

.list {
    padding: 0;
    list-style: none;
}

.listItem {
    padding: 0.2em;
    font-style: italic;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .Popup {
        width: 50%;
    }
}