.Popup {
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fbfbf9;
    border: 1px solid #ddd;
}

.button {
    text-align: right;
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
}

.title {
    margin-top: 0;
}

.subtitle {
    margin-bottom: -9px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.5em;
    flex-direction: row;
    justify-content: left;
    font-size: 0.9em;
}

.img {
    border: 1px solid #ddd;
    min-width: 20%;
    max-width: 100%;
}

.ratingDetails {
    width: 60%;
    max-width: 100%;
    padding-left: 1em;
}

.stars {
    color: #ff7800;
}

.ratingValue {
    position: relative;
    bottom: 5px;
    padding: 0 0.5em;
}

.address {
    width: 100%;
    max-width: 100%;
    font-weight: 500;
    margin-bottom: 0;
}

.list {
    padding: 0;
    list-style: none;
}

.listItem {
    padding: 0.2em;
    font-style: italic;
}